{{- $config := ( .Site.Params.settings.hideEntryNavigation ) -}}
{{- $configType := ( printf "%T" $config ) -}}

{{- if ( eq $configType "bool" ) -}}
  {{- $.Scratch.Set "showEntryNav" ( not $config ) -}}
{{- else -}}
  {{- $.Scratch.Set "showEntryNav" ( not ( in $config .Section ) ) -}}
{{- end -}}

{{- if ( $.Scratch.Get "showEntryNav" ) -}}

<nav class='entry-nav-container'>
  <div class='entry-nav'>
    {{- $pages := (where .Site.Pages "IsPage" true).ByDate -}}

    {{- $curUniqueID := .UniqueID -}}
    {{- $.Scratch.Set "currentIndex" -1 -}}
    {{- range $i, $e := $pages -}}
      {{- if eq $e.UniqueID $curUniqueID -}}
        {{- $.Scratch.Set "currentIndex" $i -}}
      {{- end -}}
    {{- end -}}

    {{- $currentIndex := $.Scratch.Get "currentIndex" -}}
    {{- $previousPage := index $pages (sub $currentIndex 1) -}}
    {{- $nextPage := index $pages (add $currentIndex 1) -}}

    {{- if $previousPage -}}
    <div class='prev-entry'>
      <a href='{{ $previousPage.Permalink | relURL }}'>
        <span aria-hidden='true'>
          {{- partial "svg/icons" "prev" -}}
          {{- print " " ( i18n "previous" ) -}}
        </span>
        <span class='screen-reader'>{{ i18n "previousPost" }}: </span>
        {{- $previousPage.Title -}}
      </a>
    </div>
    {{- end -}}

    {{- if $nextPage -}}
    <div class='next-entry'>
      <a href='{{ $nextPage.Permalink | relURL }}'>
        <span class='screen-reader'>{{ i18n "nextPost" }}: </span>
        {{- $nextPage.Title -}}
        <span aria-hidden='true'>
          {{- print ( i18n "next" ) " " -}}
          {{- partial "svg/icons" "next" -}}
        </span>
      </a>
    </div>
    {{- end -}}

  </div>
</nav>

{{- end -}}
